h1 Hi #{data.name},
p You're one step away from becoming a Chawanangwa Farm member.
br
p Please verify your email address by entering the activation key.
p Your Activation key #{data.key}
br
br
p Thank you,
p The Chawanangwa team